<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
          <% if (products.length > 0) {%>
            <% products.forEach(p => { %> 
              <p><%= p.productData.title %> (<%= p.qty %>)</p>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%= p.productData.id %>" name="productId"/>
                <button class="btn" type="submit">Delete</button>
              </form>
            <% }) %>
          <% } else { %> 
            <h1>No products!</h1>
          <% } %>
        </main>
        <%- include('../includes/end.ejs') %>